extends layout

block content
  div#editorButtons.panel.panel-default.col-md-4
    div.panel.panel-group(style="text-align:center")
      div.panel-heading
        h4 WatchCutter Controls
      div.panel.panel-group
        div.panel-heading
          h4 Storage settings
        div
          button(type="button" onclick='saveSettings()' style="width:45%").btn.btn-info.btnMargin Save Settings
          button(type="button" onclick='loadSettings()' style="width:45%" ).btn.btn-warning.btnMargin Reload Settings
      div.panel.panel-group
        div.panel-heading
          h3 Output settings
        div.form-inline
          h4 Output Size
          div.spreadInLine
            h5 Width
            i(class="fa fa-arrows-h fa-lg" style="margin-top:10px")
            div

              div.input-group.spinner.spinWidth
                input#resultWidth(type="text" value="200"  onchange="updateResultSize()").form-control
                div.input-group-btn-vertical
                  button(class="btn btn-default")
                    i(class="fa fa-caret-up")
                  button(class="btn btn-default")
                    i(class="fa fa-caret-down")
            h5 Height
            i(class="fa fa-arrows-v fa-lg" style="margin-top:10px")
            div
              div.input-group.spinner.spinHeight
                input#resultHeight(type="text" value="200" onchange="updateResultSize()").form-control
                div.input-group-btn-vertical
                  button(class="btn btn-default")
                    i(class="fa fa-caret-up")
                  button(class="btn btn-default")
                    i(class="fa fa-caret-down")
      div.form-inline
        h4 Colors
        div.spreadInLine
          div
            h5 Question Text
            div(style="margin-top:10px").colorPickerWrapper
                i(style="background-color:rgb(4,12,13)").colorPickerBox#cpQuestionText
          div
            h5 Answer Text
            div(style="margin-top:10px").colorPickerWrapper
              i(style="background-color:rgb(4,12,13)").colorPickerBox#cpQuestionAnswer
        div.spreadInLine
          div
            h5 Background
            div(style="margin-top:10px").colorPickerWrapper
              i(style="background-color:rgb(4,12,13)").colorPickerBox#cpBackground
      div.form-inline
        h4 Font
        div.spreadInLine
          h5 Family
          select.form-control(onchange="fontSelectionChanged(this.value);")
            option(value="Arial") Arial
            option(value="Verdana") Verdana
            option(value="Tahoma") Tahoma

          h5 Size
          div
            div.input-group.spinner.spinFont
              input#spinnerFont(type="text" value="10" onchange="updateFontSize()").form-control
              div.input-group-btn-vertical
                button(class="btn btn-default")
                  i(class="fa fa-caret-up")
                button(class="btn btn-default")
                  i(class="fa fa-caret-down")
    div#cuttedStuffDiv
      div.panel-heading
        h4 Cutted Stuff List
      div.alert.alert-success(style='display:none')
        strong
      div(style='overflow-y:auto; height:300px; display:none;'   size='10' onchange='selectionChanged(this.selectedIndex)')#listFoundQuestions.list-group


  div.col-md-8
    div.panel.panel-group(style="text-align:right")
      div.panel-heading
        h4 Text Editor Area
      div(style="text-align:right")
        button(type="button" onclick='').btn.btnMargin Import from File
        button(type="button" onclick='').btn.btnMargin Import from Clipboard
        button(type="button" onclick='findQuestions()').btn.btn-danger Scan Now

      div#editorWrapper
        textarea#editorArea.form-control
          | 1. list group item text list group item textlist group item text
          | list group item textlist group item text list group item text list group item text
          | list group item text
          | 2. list group item text list group item text list group item text
          | list group item text list group item text list group item text
          | list group item text list group item text list group item text list group item text list group item text list group item text list group item text list group item text list group item text list group item text
          | list group item text list group item text list group item text list group item text list group item text list group item text list group item text
          | list group item text list group item text list group item text list group item text list group item text list group item text list group item text list group item text list group item text list group item text list group item text list group item text list group item text list group item text list group item text list group item text list group item text
          | list group item text list group item text list group item text list group item text
          | list group item text list group item text list group item text list group item text
          | list group item text list group item text list group item text
          | list group item text list group item text list group item text list group item text list group item text list group item text list group item text list group item text list group item text
          | 3. list-group list group item text  list group item text
          | list group item text list group item text list group item text list group item text

    button(type="button" onclick='packImagesIntoZip()' style="width:100%;display:none").btn.btn-success#btnDL Download as ZIP
    div.panel.panel-footer

      div.panel-heading
        h4 Cutting Results

      div#resultScreen
      canvas(style='display:none;')#drawerCanvas
