doctype html
html
  head
    title= title
    link(href='http://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic,cyrillic-ext,latin' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='./stylesheets/bootstrap-colorpicker.min.css')
    link(rel='stylesheet', href='./stylesheets/style.css')


    script(type='text/javascript' src="./javascripts/jquery.min.js")
    script(type='text/javascript' src="./javascripts/jquery.cookie.js")
    script(type='text/javascript' src="./javascripts/jszip.min.js")
    script(type='text/javascript' src="./javascripts/jszip.min.js")
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    script(type='text/javascript' src="./javascripts/bootstrap-colorpicker.min.js")
    script(type='text/javascript' src="./javascripts/watchCutterWeb.js")


  body
    block content