doctype html
html
  head
    title= title
    link(href='http://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic,cyrillic-ext,latin' rel='stylesheet' type='text/css')

    script(type='text/javascript' src="./javascripts/jquery.min.js")
    script(type='text/javascript' src="./javascripts/jquery.cookie.js")
    script(type='text/javascript' src="./javascripts/jszip.min.js")
    script(type='text/javascript' src="./javascripts/watchCutterWeb.js")
    script(type='text/javascript' src="./javascripts/bootstrap-spinedit.js")

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    link(rel='stylesheet', href='./stylesheets/style.css')
    link(rel='stylesheet', href='./stylesheets/bootstrap-spinedit.css')
  body
    block content