
body
  padding: 50px
  font-family: 'Open Sans', sans-serif
#editorWrapper
  height:250px
#editorArea
  height:250px
  width:100%

.btnMargin
  margin-left: 5px;
  margin-right: 5px;

.questionListElement
  white-space: nowrap
  overflow-x: hidden

.btn
  outline: none !important
