body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
#editorWrapper
  height:250px
  width:65%
#editorArea
  height:250px
  width:100%
#editorButtons
  width:30%
  float:right
.editable
  max-width: 500px
  font-family: 'Courier New'
  overflow-y: s
  max-height: 500px
  border: 1px solid #ccc
  padding: 10px
